{% extends 'base.html' %}

{% block title %}
Add To-do
{% endblock %}

{% block task %}

  <div class="container">

    <form action="/tasks/add/" method="POST">
      {% csrf_token %}
      <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input id="description" name ="description" type="text" class="form-control" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="detail_description" class="col-sm-2 col-form-label">Detailed description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="detail_description" rows="3" name ="detail_description"></textarea>
        </div>
      </div>
      <div class="row mb-3">
        <label for="execute_at" class="col-sm-2 col-form-label">Execute at</label>
        <div class="col-sm-10">
          <input id="execute_at" name ="execute_at" type="date" class="form-control" value="">
        </div>
      </div>
      <div class="row mb-3">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select id="status" name="status" class="form-select">
            <option value="Новая">Новая</option>
            <option value="В процессе">В процессе</option>
            <option value="Сделано">Сделано</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add a task</button>
    </form>

  </div>

{% endblock %}

