{% extends 'base.html' %}

{% block title %}
To-do list
{% endblock %}

{% block task %}

{% for task in tasks %}

<div class="album py-3 bg-light">
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h5 class="card-text">{{ task.description }}</h5>
                  <p class="card-text">Status: {{ task.status }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class>
                      <a href="/tasks/?pk={{ task.pk }}" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">Date of completion: {{ task.execute_at }}</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
</div>

{% endfor %}

{% endblock %}

