{% extends 'base.html' %}

{% block title %}
Delete To-do
{% endblock %}

{% block task %}

    <div class="album py-3 bg-light">
        <div class="container">
            <form method="POST" action="{% url 'task_delete' task.pk %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      <div class="card mb-4 box-shadow">
                        <div class="card-body">
                          <h5 class="card-text">{{ task.summary }}</h5>
                          <h5 class="card-text">Detailed description:  {{ task.description }}</h5>
                          <p class="card-text">Status: {{ task.status }}</p>
                          <p class="card-text">Type: {{ task.type }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class>
                              <a href="{% url 'task_home' %}" class="btn btn-sm btn-outline-secondary">← Back to "To-do list</a>
                            </div>
                            <p><input type="submit" value="Confirm" class="btn btn-sm btn-outline-secondary"></p>
                            <small class="text-muted">Date of completion: {{ task.execute_at|default:'' }}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>

        </div>
    </div>

{% endblock %}

